body{
	font-family:verdana;
	color:#444;
}
.oganesyan{
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
    color: #fff;
    background: #3C8FB7;
    padding: 4px 8px;
	border: 0;
	cursor: pointer;
}
.krestiki_noliki{
    width: 306px;
    margin: 0 auto;
}
.krestiki_noliki .block{
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    text-align: center;
    font-size: 100px;
    line-height: 94px;
}